*{
    border: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

}

body{
    background-image: url("../images/bg/BG.png");
    background-size: auto 100vh;
    overflow: hidden;
    

}


/* NAV BAR */

.nav-bar{
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 5px;
}


/* DINO */

#dino{
    position: absolute; 
    height: 13vh; 
    top: 73vh; 
    left: 0;
}

#dino.left{
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}


/* GROUND */
.ground-top {
    position: absolute;
    top: 85vh;
    left: 0;
    right: 100vw;
    height: 2vh;
    width: 100vw;

    background: rgb(20,148,0);
    background: linear-gradient(180deg, rgba(20,148,0,1) 0%, rgba(32,80,0,1) 35%, rgb(60, 73, 0) 100%);
}

.ground {
    position: absolute;
    background: rgb(148,70,0);
    background: linear-gradient(180deg, rgba(148,70,0,1) 0%, rgba(80,46,0,1) 35%, rgb(36, 14, 0) 100%);
    
    top: 87vh;
    left: 0;
    right: 100vw;
    height: 13vh;
    width: 100vw;
   
   
}

/* BLOCK */

.block{
    position: absolute;
}

.ph0{
    top: 85vh;
}



/* BUTTONS */

.btn{
    background-color: darkgray;
    border: none;
    border-radius: 5px;
    margin: 0 3px;
}

.btn-to-pause{
    background-color: lightcoral;
}

.btn:hover{
    cursor: pointer;
}

.btn span{
    display:block; 
    margin: .5rem;
}

.food{
    position: absolute; 
    display: block;
    height: 28px; 
    top: -100px; 
    left: -100px;

}


/* MODAL PAUSE */
#modal-pause-game{
    visibility: visible;
    /* display: none; */
    transition: visibility 2ms;
}

.bg-pause{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1a1a1a8c;

}

.modal-pause{
    display: flex;
    background: url('../images/texture/wood-light.jpg');
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    border: solid 3px rgba(92, 52, 0, 0.3);
    border-radius: 20px;
    width: 50vw;
    height: 50vh;
    margin: 10px 0;

}

.modal-pause > h1{
    font-size: 4rem;
    text-shadow: black 3px 3px 5px;
    margin: 0 0 .5rem 0;
    padding: 0 10px;

}
.modal-pause > h1 + span{
    margin-bottom: 3rem;
}

.btn-modal{
    padding: 5px 25px;
    margin: 5px 2px 2px 2px;
}

.btn-return {
    background: green;
    font-size: 1.5rem;
}

.btn-restart {
    background: gray;
    font-size: 1.2rem;
}

.btn-music {
    background: gray;
    font-size: 1.2rem;
    
}


/* MOBILE */

.controls {
    position: absolute;
    display: none;
    justify-content: space-around;
    top: 88vh;
    height: 11vh;
    width: 100vw;

}

.controls span {
    font-size: 10vh;
    display: inline-block;
    height: 100%;
    
}


@media screen and (max-width: 800px) {
    .modal-pause {
        width: 80vw;
    }

    .controls {
        display: flex;
    }
}
